*{
    margin: 0;
}
/* police */
@font-face {
    font-family: 'Arlon Black';
    src: url('./public/font/arlon-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

section{
    font-family: 'Poppins', sans-serif;
}

/* header */

header{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1)),
    url("./images/header.jpg");
    background-position-y: 37%;
    background-size: cover;
    height: 40em;
    filter: hue-rotate(18deg); 
    font-family: 'Arlon Black', sans-serif;
}


/* nav barre */
nav{
    display: flex;
    color: white;
    gap: 27em;
    font-family: 'Arlon Black', sans-serif;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-right: 2.5em;
}
nav h1{
    font-weight: 900;
    padding-left: 2.5em;
    padding-top: 1em;
}

.about_header{
    display: flex;
    gap: 1.1em;
    font-size: smaller;
    padding-top: 2.5em;
}

.croix_header {
    padding-left: 1.7em;
    position: relative;
    width: 2em;
    height: 2em;
}

.croix1, .croix2 {
    position: absolute;
    top: 0.7em;
    width: 2px;
    height: 2em;
    background-color: white;
}

.croix1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.croix2 {
    transform: translate(-50%, -50%) rotate(-45deg); 
}

/* header texte */
.intro{
    display: grid;
    justify-content: center;
    padding-top: 10em;
    font-family: 'Arlon Black', sans-serif;
}

.intro h1{
    font-weight: 12px;
    
    color: #585960;
    font-size: 5em;font-family: "Modak", serif;
    
    font-style: normal;
    
    
}
.intro h2{
    font-size: 4em;
    
    font-weight: 900;
    color: #42464D;
}

.intro h3{
    font-weight: lighter;
    color: #3C3C3E;
    letter-spacing: .5em;
    font-family: 'Poppins', sans-serif;
}

.intro button{
    background-color: #695AA6; 
    color: white;
    border-radius: 2em;
    border: none;
    width: 9em;
    height: 3em;
    margin-top: 2em;
}

/* premiere section */
.section1{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-weight: 100;
}

.section1 img{
    height: 25em;
}

.s1_div{
    width: 50%;
}
.s1_div p{
    color: #6F6F6F;
    padding-bottom: 2em;
}
.s1_line{
    line-height: 80%;
}
.s1_div h2{
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
    font-size: 2em;
    line-height: 0%;
    padding-bottom: 2em;
}

.s1_div button{
    border: #7365ab solid 1px;
    border-radius: 2em;
    height: 3em;
    width: 10em;
    background: none;
    color: #695AA6;
}

/* deuxième section  */

.section2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Arlon Black', sans-serif;
    padding-top: 10em;
}
.section2 h2{
    padding-top: none;
   padding: 2em;
}
.s2_txt{
    line-height: 1;
}
.s2_txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}
.s2_txt h2{
    color: #695AA6;
    font-family: 'Arlon Black', sans-serif;
    padding-bottom: 2em;
}
/* 2 section  grid + animation galere*/
.s2_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    padding-left: 10%;
    text-align: center;
}

.s2_grid>div{
    border: #DEE2E6 solid 1px;
    height: 13em;
    width:  13em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #695AA6;
    font-size: larger;
    gap: 1.5em;
    margin: 0;
    overflow: hidden;
}

.s2_grid img{
    margin-top: 9em;
    height: 25%;
    transition: transform 0.3s ease;
}
.animation{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
    transform: translateY(5em);
}

/* section 3 */

.section3{
    text-align: center;
    padding-top: 10em;
    
}

/* section 3 texte */
.s3_txt{
    padding-bottom: 2em;
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}
.s3_txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}

/* section 3 grid */
.s3_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    width: 80%;
}

.s3_grid img{
    width: 90%;
}

/* section4 4 */

.section4{
    text-align: center;
    padding-top: 10em;
}

/* section 4 texte */
.s4_txt{
    padding-bottom: 2em;
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}
.s4_txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}

/* section 4 grid */
.s4_grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 80%;
    padding-left: 10%;
   

}

.s4_grid img{
    height: 30%;
    
}

/* section 4 intÃ©rieur des cel du grid */
.s4_grid_cel{
    border: #DEE2E6 solid 1px;
    height: 45em;
    align-content: center;
    
}

.s4_grid_cel h2{
    color: #695AA6;
    font-family: 'Arlon Black', sans-serif;
    font-size: 2em;
    padding-top: 30px;
}

.s4_grid_cel p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
    padding-top:15px;
}

.price{
    font-size: 1em;
    color: #4D5053;
    padding-top:30px;
    
}

.s4_grid_cel button{
    background-color: #695AA6;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
    margin-top: 20px;
    
}

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    height: 8em;
    background-color: #695AA6;
    margin-top: 5em;
    color: white;
}

.section5 h3{
    font-family: 'Arlon Black', sans-serif;
}
.section5 button{
    font-family: 'Arlon Black', sans-serif;
    letter-spacing: .1em;
    font-size: 1em;
    height: 3em;
    width: 6em;
    border-radius: 2px;
    border: none;
    background-color: #fff;
}

.section6{
    text-align: center;
}

.s6_txt{
    padding-top: 5em;
    padding-bottom: 1em;
}

.s6_txt h2{
    padding-bottom: 2em;
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}
.s6_txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}
.s6_grid {
    display: flex;
    gap: 4em;
    padding-left: 10%;
    width: 80%;
}
.p_men, .p_woman {
    position: relative;
    border: #DEE2E6 solid 1px;
    text-align: left;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 1em;
}

.p_men img, .p_woman img {
    border-radius: 100%;
    height: 5em; 
    position: absolute;
    left: -2.5em;
    top: 50%;
    transform: translateY(-50%)
}

.p_men p, .p_woman p{
    padding-bottom: 1em;
}
.p_men strong, .p_woman strong{
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}

/* section 7 */
.section7{
    padding-bottom: 2em;
    text-align: center;
    
}
.s7_title{
    padding-top: 5em;
    padding-bottom: 1em;
}

.s7_title h2{
    padding-bottom: 2em;
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}
.s7_title p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}

.s7_grid {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
    gap: 2em;
}

.profile {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    text-align: left;
    border: #DEE2E6 solid 1px;
}

.profile img {
    height: 20em; 
    width: 19.5em;
    object-fit: cover;
}


.profile p {
    font-size: small; 
}

.profile h3{
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
    padding-top: 1em;
    padding-bottom: 1em;
}

.s7_txt>p{
    padding-bottom: 1em;
}

/* section 8 */
.section8{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4em;
}
.s8_txt h2{
    padding-bottom: 2em;
    font-family: 'Arlon Black', sans-serif;
    color: #695AA6;
}
.s8_txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 100;
    color: #6F6F6F;
}
.nav_bottom{
    display: flex;
    justify-content: center;
    font-family: 'Arlon Black', sans-serif;
    gap: 28em;
    padding-bottom: 2em;
}

.nav_bottom h1{
    color: #695AA6;
    font-weight: bold(6);
    
}

.nav_bottom2 {
    display: flex;
    gap: 2em;
    color: #6C757D;
}

/* scetion 9 */
.section9{
    padding-top: 2em;
    border-top: #DEE2E6 solid 1px;
    border-bottom: #DEE2E6 solid 1px;
    padding-bottom: 2em;
}

.section9 textarea{
    width: 50%;
    height: 12em;
    border-radius: .5em;
    border-color: #CED4DA;
    background-color: #FCFCFC;
}

.section9 button{
    color: #695AA6;
    border: #695AA6 solid 1px;
    border-radius: 3px;
    background-color: #fff;
    height: 2em;
}

/* footer */
footer{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    color: #464B53;
    gap: 30em;
}

.icon img {
    
    width: 3em;
    height:2em;
    float: right;
    display: flex;  
    justify-content: center;
    text-align: center;
    margin-top: 6px;
}

.icon {
    right: 20%;
    flex-direction:end;
    width:60%;
    
}

  
  .s2_grid .animation {
    opacity: 0;
    transform: translateY(9em);
    transition: opacity 0.3s ease, transform 0.8s ease; /* Durée de l'apparition du texte */
  }
  
  /* Animation au survol */
  .s2_grid div:hover img {
    transform: translateY(-10px); /* Monte l'image */
  }
  
  .s2_grid div:hover .animation {
    opacity: 10;
    transform: translateY(-9em);}